<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Hello this the add combo page</h1>
  <form action="/combos/add" method="POST">
    <div>
      <label for="Main">Main</label>
      <input type="text" name="main">
    </div>
    <div>
      <label for="Side">Side</label>
      <input type="text" name="side">
    </div>
    <div>
      <label for="Drink">Drink</label>
      <input type="text" name="drink">
    </div>
    <button type="submit">Add</button>
  </form>
</body>
</html>